<div id="event-programs-edit">

   <%= form_for(:event, url: event_program_path(@event), method: 'patch') do |f| %>
   <div class="form-section">
      <h1 class="form-header">演目の編集</h1>
      <h2 class="form-header">現在設定されている演目</h2>
      <% @event_programs.each do |ev_program| %>
      <%= content_tag :div,
            class: 'added-item',
            data: ev_program_for_vue_attr(ev_program) do %>
         <div id="ev_program-<%= ev_program.id %>"></div>
      <% end %>
      <% end %>
      <h2 class="form-header">演目の新規追加</h2>

      <div id="event-programs-new"></div>
   </div>
   <%= f.submit('保存', class: 'form-submit') %>
   <% end %>

   <%= content_tag :div, id: 'program-items', data: { programs: @programs } do %><% end %>
</div>
