<div id="dashboard">
   <div id="trend-banners">
      <%= image_tag 'trend_sample.png' %>
   </div>

   <div class="section">
      <h1 class="section-header">Noh-Eventへようこそ</h1>
      <div class="article news ">
         <p>Noh-Event(仮)は規模の大小に関わらず、全国の能楽の催しをみんなで登録して共有することで、能楽のイベントを簡単に探せるサービスです。</p>
         <p>初めての方は<%= link_to 'こちら', about_path %>をお読みください。</p>
      </div>
   </div>

   <div class="section">
      <h1 class="section-header">最新の公演情報</h1>

      <%= render 'shared/event_articles' %>

      <%= link_to events_path, class: 'port-link' do %>もっとみる<%= fa_icon('angle-right') %><% end %>
   </div>
</div>
