<div id="dashboard">
   <div id="trend-banners">
      <%= image_tag 'trend_sample.png' %>
   </div>

   <div class="section">
      <h1 class="section-header">Noh Sightへようこそ</h1>
      <div class="article news">
         <p>Noh Sightは規模の大小に関わらず、全国の能楽の催しをみんなで登録して共有することで、能楽のイベントを簡単に探せるサービスです。</p>
         <p>初めての方は<%= link_to 'こちら', about_path %>をお読みください。</p>
      </div>
   </div>

   <div class="section">
      <h1 class="section-header">公演・能楽イベント検索</h1>
      <div class="search">
         <div class="form-section">
            <%= form_for(:easy_search, url: events_path, method: :get) do |f| %>
            <dl>
               <dt>期間(From)</dt>
               <dd><input type="date" name="search[start_date]" id="search-start-date"></dd>
            </dl>
            <dl>
               <dt>期間(To)</dt>
               <dd><input type="date" name="search[end_date]" id="search-end-date"></dd>
            </dl>
            <dl>
               <dt><label>エリア(地域)</label></dt>
               <dd id="search-address-vue"></dd>
            </dl>
            <%= f.submit('検索する', class: 'form-submit') %>
            <% end %>
            <%= link_to search_path, class: 'port-link' do %>詳細付き検索<%= fa_icon('angle-right') %><% end %>
         </div>
      </div>
   </div>

   <div class="section">
      <h1 class="section-header">最新の公演情報</h1>

      <%= render 'shared/event_articles' %>

      <%= link_to events_path, class: 'port-link' do %>もっとみる<%= fa_icon('angle-right') %><% end %>
   </div>
</div>
