<div id="dashboard">
   <div id="trend-banners">
      <!-- TODO 規模の大きい公演を4～5個ピックアップ、紹介(スライドショー形式で) -->
      <%= image_tag 'trend_sample.png' %>
      <div id="trend-cover">
         <%= link_to @events.first.title, event_path(@events.first) %>
      </div>

   </div>

   <!-- TODO 余裕があれば会員(恐らく能楽師がメインに)がニュースなどイベント以外の投稿を行えるように
            するためのフォーマットを作りたい -->
   <div class="section">
      <h1 class="section-header">お知らせ</h1>
      <div class="article news">
         <span>2017年05月17日</span>
         <a href="#">能楽体験教室「楽しもう！能の世界」のお知らせ</a>
      </div>
      <div class="article news">
         <span>2017年05月10日</span>
         <a href="#">作ってみよう！自分だけの能面ワークショップにて登壇者を募集しています。</a>
      </div>
      <div class="article news">
         <span>2017年04月28日</span>
         <a href="#">熊本自身災害義援金についてのご報告</a>
      </div>
      <div class="article news">
         <span>2017年04月13日</span>
         <a href="#">Noh-Eventへようこそ</a>
      </div>
   </div>

   <div class="section">
      <h1 class="section-header">最新の公演情報</h1>

      <% @events.each do |event| %>
      <div class="article event-summary">
         <div class="header">
            <h1><%= link_to event.title, event_path(event) %></h1>
            <span class="btn"><%= fa_icon('check-square-o')%></span><!-- TODO Userがクリップする機能 -->
         </div>
         <ul class="info">
            <li class="place"><%= event.place.title %></li>
            <li class="date"><%= event.start_date.strftime("%Y年%m月%d日 %H:%M")%></li>
         </ul>
         <ul class="tickets">
            <% event.tickets.each do |ticket| %>
            <li><%= ticket.grade %>：<%= ticket.price %></li>
            <% end %>
         </ul>
      </div>
      <% end %>

      <%= paginate(@events, outer_window: 3) %>
   </div>
</div>
