<div id="search" class="search">
   <div class="headline">
      <h1>公演検索</h1>
   </div>
   <div class="form-section">
      <h1 class="form-header">検索条件の設定</h1>
      <%= form_for(:search, url: events_path, method: :get) do |f| %>
         <dl>
            <dt>開催日</dt>
            <dd>
               <%= f.text_field :start_date, class: 'datepicker-for-search date-selection', id: "start-date" %>
               <span>～</span>
               <%= f.text_field :end_date, class: 'datepicker-for-search date-selection', id: "end-date" %>
            </dd>
         </dl>
         <dl>
            <dt>エリア</dt>
            <dd id="search-address-vue"></dd>
         </dl>
         <dl id="event-relatives">
            <dl>
               <dt>演目</dt>
               <dd><%= f.text_field :program, id: 'program' %></dd>
            </dl>
            <dl>
               <dt>演者</dt>
               <dd><%= f.text_field :performer, id: 'performer' %></dd>
            </dl>
         </dl>
         <dl>
            <dt>キーワード</dt>
            <dd><%= f.text_field :keywd, id: 'keywd' %></dd>
         </dl>
         <dl>
            <dt>カテゴリ</dt>
            <dd>
               <label><%= f.check_box :category_0, {}, '能楽協会主催' %>能楽協会主催</label>
               <label><%= f.check_box :category_1, {}, '能楽堂主催' %>能楽堂主催</label>
               <label><%= f.check_box :category_2, {}, '能楽協会員出演' %>能楽協会員出演</label>
               <label><%= f.check_box :category_3, {}, '教室、セミナー' %>教室、セミナー</label>
               <label><%= f.check_box :category_4, {}, 'その他' %>その他</label>
            </dd>
         </dl>
         <%= f.submit('検索する', class: 'form-submit') %>
      <% end %>
   </div>
</div>
