<div id="sessions-new">
   <div class="headline">
      <h1>ログイン</h1>
   </div>

   <%= form_for(:session, url: login_path, html: { id: 'login-form' }) do |f| %>
   <div class="form-section">
      <h1 class="form-header">ログイン情報入力</h1>

      <div class="md-form">
         <label>Eメールアドレス</label>
         <%= f.text_field :email, id: 'email' %>
      </div>
      <div class="md-form">
         <label>パスワード</label>
         <%= f.password_field :password, id: 'password' %>
      </div>
   </div>
   <%= f.submit 'ログイン', class: 'form-submit' %>
   <% end %>

   <div class="form-section">
      <h1 class="form-header">初めての方へ</h1>
      <%= link_to '会員登録はこちら', new_user_path %>
   </div>

</div>
