<div id="users-new">
   <div class="headline">
      <h1>新規会員登録</h1>
   </div>

   <%= form_for(@user) do |f| %>
   <% err_msg = f.object.errors %>
   <div class="form-section">
      <h1 class="form-header">1.ユーザー情報を入力</h1>

      <div class="lg-form">
         <label>ユーザー名</label><span class="required">必須</span>
         <%= f.text_field :name, id: 'name' %>
         <p class="error-msg"><%= err_msg.full_messages_for(:name)[0] %></p>
      </div>
      <div class="lg-form">
         <label>Eメールアドレス</label><span class="required">必須</span>
         <%= f.text_field :email, id: 'email' %>
         <p class="error-msg"><%= err_msg.full_messages_for(:email)[0] %></p>
      </div>
      <div class="lg-form">
         <label>自己紹介</label>
         <%= f.text_field :information, id: 'information' %>
         <p class="error-msg"><%= err_msg.full_messages_for(:information)[0] %></p>
      </div>
      <div class="lg-form">
         <label>パスワード</label><span class="required">必須</span>
         <%= f.password_field :password, id: 'password' %>
         <p class="error-msg"><%= err_msg.full_messages_for(:password)[0] %></p>
      </div>
      <div class="lg-form">
         <label>パスワード(確認)</label><span class="required">必須</span>
         <%= f.password_field :password_confirmation, id: 'password_confirmation' %>
         <p class="error-msg"><%= err_msg.full_messages_for(:password_confirmation)[0] %></p>
      </div>
   </div>

   <div class="form-section">
      <h1 class="form-header">2.SNSとの連携</h1>
      <div class="lg-form">
         <p>ある程度開発が進んだら製作</p>
      </div>
   </div>

   <div class="form-section">
      <h1 class="form-header">3.利用規約</h1>
      <div class="lg-form">
         <label>
            <%= f.check_box :agreement, as: :boolean, checked: false, id: 'agreement' %>
            <%= link_to "利用規約", convention_path, :target => '_blank' %>に同意する
         </label>
         <span class="required">必須</span>
         <p class="error-msg"><%= err_msg.full_messages_for(:agreement)[0] %></p>
      </div>
   </div>

   <%= f.submit "新規登録する", class: 'form-submit' %>

   <% end %>
</div>
