<div id="users-show">
   <div class="user-info">
      <%= image_tag 'thumbnail.png' %>
      <ul>
         <li class="name"><%= @user.name %></li>
         <li class="email"><%= @user.email %></li>
         <li class="created-at">利用開始日：<%= @user.created_at.strftime("%Y/%m/%d")%></li>
      </ul>
   </div>

   <div class="user-snss">
      <!--  TODO: SNS連携(技術的に可能かついいねという反応があとから導入) -->
      <ul>
         <li><%= link_to '#' do %><%= fa_icon('twitter-square', class: 'twitter') %><% end %></li>
         <li><%= link_to '#' do %><%= fa_icon('facebook-square', class: 'facebook') %><% end %></li>
         <li><%= link_to '#' do %><%= fa_icon('instagram', class: 'instagram') %><% end %></li>
         <li><%= link_to '#' do %><%= fa_icon('tumblr-square', class: 'disconnected tumblr') %><% end %></li>
      </ul>
   </div>

   <div class="user-description">
      <p><%= @user.information %></p>
   </div>

   <div class="user-command">
      <% if current_user == @user %>
      <%= link_to 'プロフィール設定', edit_user_path(@user) %>
      <!-- TODO: カレンダーコンポーネント追加 -->
      <%= link_to '公演の編集', event_manage_path %>
      <% end %>
   </div>

   <div class="section">
      <h1 class="section-header">編集した公演</h1>

      <%= render 'shared/event_articles' %>

      <% if @events.count > 0 %>
      <%= link_to events_path, class: 'port-link' do %>もっとみる<%= fa_icon('angle-right') %>
      <% end %>
      <% end %>
   </div>



</div>
