<div id="users-show">
   <div class="user-info">
      <%= image_tag 'thumbnail.png' %>
      <ul>
         <li class="name"><%= @user.name %></li>
         <li class="email"><%= @user.email %></li>
         <li class="created-at">利用開始日：<%= @user.created_at.strftime("%Y/%m/%d")%></li>
         <li class="points">ポイント：<%= "#{@user.points}pts " %></li>
      </ul>
   </div>

   <div class="user-description">
      <p><%= @user.information %></p>
   </div>

   <div class="user-command">
      <% if current_user == @user %>
      <%= link_to 'プロフィール設定', edit_user_path(@user) %>
      <%= link_to '公演の編集', event_manage_path %>
      <% end %>
   </div>

   <div class="section">
      <h1 class="section-header">編集した公演</h1>
      <% if @events.count > 0 %>
      <%= render 'shared/event_articles' %>

      <%= link_to events_path(user: @user.id), class: 'port-link' do %>もっとみる<%= fa_icon('angle-right') %><% end %>
      <% else %>
      <p class="port-link">編集した公演はありません。</p>
      <% end %>
   </div>
</div>
