<% @events.each do |event| %>
<div id="event-<%= event.id %>" class="article event-summary">
   <div class="header">
      <h1><%= link_to event.title, event_path(event) %></h1>
   </div>
   <ul class="info">
      <li class="place"><%= event.place.title %></li>
      <li class="place"><%= event.place.address %></li>
      <li class="date"><%= event&.start_date&.format_with_weekday %></li>
   </ul>

   <table class="event-programs-info">
      <% event.event_programs.each do |ev_program| %>
      <tr class="event-program">
         <td><%= ev_program.genre %></td>
         <td>「<%= ev_program.program.title %>」</td>
         <td></td>
      </tr>
      <% ev_program.performers.each do |performer| %>
      <tr class="event-performer">
         <td></td>
         <td></td>
         <td><%= performer.full_name %></td>
      </tr>
      <% end %>
      <% end %>
   </table>

   <ul class="tickets">
      <% event.tickets.each do |ticket| %>
      <li class="ticket"><%= ticket.grade %>：<%= ticket.price %>円</li>
      <% end %>
   </ul>
</div>
<% end %>
