<div id="events">
   <% @events.each do |event| %>
   <div id="event-<%= event.id %>" class="article">
   <%= link_to event_path(event), class: 'event-summary' do %>
      <h1 class="header"><%= event.title %></h1>
      <ul class="info">
         <li class="place"><%= event.place.title %></li>
         <li class="date"><%= event&.start_date&.with_formats('date', 'time', 'weekday') %></li>
      </ul>
      <div class="tags">
         <p class="category-<%= event.category %>"><%= event.category_name %></p>
      </div>

      <table class="event-programs-info">
         <% event.event_programs.each do |ev_program| %>
         <tr class="event-program">
            <td><%= ev_program.genre %></td>
            <td>「<%= ev_program.program.title %>」</td>
            <td class="event-performer"><%= ev_program&.performers&.first&.full_name %></td>
         </tr>
         <% end %>
      </table>

      <ul class="tickets">
         <% event.tickets.each do |ticket| %>
         <li class="ticket"><%= ticket.grade %>：<%= ticket.price %>円</li>
         <% end %>
      </ul>
   <% end %>
   <%= render('shared/bookmark', event: event) %>
   </div>
   <% end %>
</div>
