<div id="events-edit-port">
   <div class="headline">
      <h1>公演情報の編集</h1>
      <div class="organizer">
         <% @event.users.each do |user| %>
            <%= link_to user_path(user) do %>
               <%= image_tag 'thumbnail.png' %>
               <span><%= user.name %></span>
               <span><%= "(登録者)" if user.user_events.find_by(event_id: @event.id).organizer? %></span>
            <% end %>
         <% end %>
      </div>
      <% if @event.published? %>
         <p class="form-submit published">公開中</p>
      <% else %>
      <%= form_for(@event) do |f| %>
         <%= f.hidden_field :published, value: true %>
         <%= f.submit('公開', class: 'form-submit published') %>
      <% end %>
      <% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">基本情報</h1>
      <div class="port-info">
         <p>公演名：<%= @event.title %></p>
         <p>公演の種類：<%= @event.category %></p>
         <p>開催日程：<%= @event&.start_date&.format_with_weekday %></p>
      </div>
      <%= link_to edit_event_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">会場</h1>
      <div class="port-info">
         <p><%= @event.place&.title %></p>
      </div>
      <%= link_to edit_event_place_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">演目</h1>
      <% @event.event_programs.each do |ev_program| %>
      <div class="port-info">
         <ul>
            <li>
               <%= ev_program.genre %>
               「<%= ev_program.program.title %>」
            </li>
            <li>
               演者：
               <% ev_program.performers.each do |performer| %>
                  <%= performer.full_name %>
               <% end %>
            </li>
         </ul>
      </div>
      <% end %>
      <%= link_to edit_event_program_path(@event), class: 'port-link' do %>演目を編集する<%= fa_icon('angle-right') %><% end %>
      <%= link_to edit_event_performer_path(@event), class: 'port-link' do %>演者を編集する<%= fa_icon('angle-right') %><% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">料金</h1>
      <% @event.tickets.each do |ticket| %>
      <div class="port-info">
         <p><%= ticket.grade %>： <%= ticket.price %>円</p>
      </div>
      <% end %>
      <%= link_to edit_ticket_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

</div>
