<div id="events-edit-port">
   <div class="headline">
      <h1>公演情報の編集</h1>
   </div>

   <div class="port-section">
      <h1 class="port-header">基本情報</h1>
      <div class="port-info">
         <p><%= @event.title %></p>
      </div>
      <%= link_to edit_event_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">会場</h1>
      <div class="port-info">
         <p><%= @event.place.title %></p>
      </div>
      <%= link_to edit_place_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">演目</h1>
      <% @event.event_programs.each do |ev_program| %>
      <div class="port-info">
         <p>
            <%= ev_program.style %>
            <%= ev_program.genre %>
            「<%= ev_program.program.title %>」
            <!-- REVIEW: イベント編集概要に各演目の演者を載せるべきか検討中 -->
         </p>
      </div>
      <% end %>
      <%= link_to edit_event_program_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

   <div class="port-section">
      <h1 class="port-header">料金</h1>
      <% @event.tickets.each do |ticket| %>
      <div class="port-info">
         <p><%= ticket.grade %>： <%= ticket.price %>円</p>
      </div>
      <% end %>
      <%= link_to edit_ticket_path(@event), class: 'port-link' do %>編集する<%= fa_icon('angle-right') %><% end %>
   </div>

</div>
