<div id="events-edit">
   <div id="event-tabs">
      <div class="event-tab passive"><%= fa_icon('heart') %>お気に入り</div>
      <div class="event-tab"><%= fa_icon('file-text-o')%>イベント管理</div>
   </div>
   <div class="headline">
      <h1>イベントの編集</h1>
      <%= link_to 'イベント一覧に戻る >', event_manage_path, class: 'port-link' %>
   </div>
   <%= form_for(:info, url: event_path(@event), method: :patch) do |f| %>
      <%= render('events/form') %>
   <% end %>
</div>
