<div id="events-manage">

   <div id="event-tabs">
      <div class="event-tab passive"><%= fa_icon('heart') %>お気に入り</div>
      <div class="event-tab"><%= fa_icon('file-text-o')%>イベント管理</div>
   </div>
   <div class="contents">
      <div class="user-command">
         <%= link_to '新規イベント登録', new_event_path %>
      </div>
      <table>
         <thead>
            <tr>
               <th class="point-record">登録</th>
               <th class="point-record">更新</th>
               <th class="title">タイトル</th>
               <th class="status">ステータス</th>
               <th class="command"></th>
               <th class="command"></th>
            </tr>
         </thead>
         <tbody>
            <% @events.each do |event| %>
            <tr>
               <td class="point-record">10pt</td>
               <td class="point-record"></td>
               <td class="title">
                  <% if event.publishing_status >= 3 %>
                  <%= link_to event.title, event_path(event) %>
                  <% else %>
                  <%= event.title %>
                  <% end %>
               </td>
               <td class="status"><%= event.current_publishing_status %></td>
               <td class="command edit"><%= link_to edit_event_path(event) do %><%= fa_icon('pencil-square-o') %><% end %></td>
               <td class="command destroy"><%= button_to event_path(event), method: :delete do %><%= fa_icon('trash-o') %><% end %></td>
            </tr>
            <% end %>
         </tbody>
      </table>
   </div>
</div>
