<div id="events-manage">
   <div id="event-tabs">
      <%= link_to bookmarks_path, class: 'event-tab passive' do %><%= fa_icon('heart') %>お気に入り<% end %>
      <div class="event-tab"><%= fa_icon('file-text-o')%>イベント管理</div>
   </div>
   <div class="contents">
      <div class="user-command">
         <%= link_to '新規イベント登録', new_event_path %>
      </div>

      <% if @events.count > 0 %>
      <table>
         <thead>
            <tr>
               <th class="point-record">登録</th>
               <th class="point-record">更新</th>
               <th class="title">タイトル</th>
               <th class="status">ステータス</th>
               <th class="command"></th>
               <th class="command"></th>
            </tr>
         </thead>
         <tbody>
            <% @events.each do |event| %>
            <tr>
               <td class="point-record"><%= "#{event.point_record&.point}pts" if event.publishing_status == 3 %></td>
               <td class="point-record"><%= "#{event.point_record&.point}pts" if event.publishing_status == 4 %></td>

               <td class="title">
                  <% if event.publishing_status >= 3 %>
                  <%= link_to event.title, event_path(event) %>
                  <% else %>
                  <%= event.title %>
                  <% end %>
               </td>

               <td class="status">
                  <%= event.current_publishing_status %>
                  <% if event.original %>
                     <br>
                     改訂(<%= link_to '元記事', event_path(event.original) %>)
                  <% end %>
               </td>

               <td class="command edit"><%= link_to edit_event_path(event) do %><%= fa_icon('pencil-square-o') %><% end %></td>
               <td class="command destroy"><%= button_to event_path(event), method: :delete do %><%= fa_icon('trash-o') %><% end %></td>
            </tr>
            <% end %>
         </tbody>
      </table>
      <% else %>
         <p class="no-event">現在、登録したイベントは一件もありません。<br>
         新規作成して新しくイベントを公開しましょう！</p>
      <% end %>
   </div>
</div>
