<div id="events-manage">

   <div id="event-tabs">
      <% if admin_user? %>
      <div class="event-tab"><%= fa_icon('file-text-o') %>リクエスト一覧</div>
      <div class="event-tab passive"><%= fa_icon('check-square-o')%>リクエスト承認</div>
      <% else %>
      <div class="event-tab passive"><%= fa_icon('heart') %>お気に入り</div>
      <div class="event-tab"><%= fa_icon('file-text-o')%>イベント管理</div>
      <% end %>
   </div>
   <div class="contents">
      <% if !admin_user? %>
      <div class="user-command">
         <%= link_to '新規イベント登録', new_event_path %>
      </div>
      <% end %>
      <% if @events.count > 0 %>
      <table>
         <thead>
            <tr>
               <% if admin_user? %>
               <th class="start-date">開催日程</th>
               <% else %>
               <th class="point-record">登録</th>
               <th class="point-record">更新</th>
               <% end %>
               <th class="title">タイトル</th>
               <th class="status">ステータス</th>
               <th class="command"></th>
               <% if !admin_user? %>
               <th class="command"></th>
               <% end %>
            </tr>
         </thead>
         <tbody>
            <% @events.each do |event| %>
            <tr>
               <% if admin_user? %>
               <td class="start-date"><%= event.start_date.format_with_date %></th>
               <% else %>
               <td class="point-record">10pt</td>
               <td class="point-record"></td>
               <% end %>

               <td class="title">
                  <% if event.publishing_status >= 3 %>
                  <%= link_to event.title, event_path(event) %>
                  <% else %>
                  <%= event.title %>
                  <% end %>
               </td>

               <% if admin_user? %>
                  <% if event.is_original? %>
                  <td class="status">新規</td>
                  <% else %>
                  <td class="status">改訂<br><%= link_to '(元記事)', event_path(event.original) %></td>
                  <% end %>
               <% else %>
               <td class="status"><%= event.current_publishing_status %></td>
               <% end %>

               <% if admin_user? %>
               <td class="command edit"><%= link_to event_path(event) do %><%= fa_icon('check-square-o') %><% end %></td>
               <% else %>
               <td class="command edit"><%= link_to edit_event_path(event) do %><%= fa_icon('pencil-square-o') %><% end %></td>
               <td class="command destroy"><%= button_to event_path(event), method: :delete do %><%= fa_icon('trash-o') %><% end %></td>
               <% end %>
            </tr>
            <% end %>
         </tbody>
      </table>
      <% else %>
         <% if admin_user? %>
         <p class="no-event">現在、リクエストは一件もありません。</p>
         <% else %>
         <p class="no-event">現在、登録したイベントは一件もありません。<br>
         新規作成して新しくイベントを公開しましょう！</p>
         <% end %>
      <% end %>
   </div>
</div>
