<div id="events-show">
   <div id="event-<%= @event.id %>">
      <!-- イベント概要 -->
   <div class="headline">
      <h1><%= @event.title %></h1>
      <ul>
         <li><%= @event.place.title if @event.place %></li>
         <li><%= @event&.start_date&.with_formats('date', 'time', 'weekday') %></li>
      </ul>
      <div class="organizer">
         <% @event.users.each do |user| %>
            <%= link_to user_path(user) do %>
               <%= image_tag 'thumbnail.png' %>
               <span><%= user.name %></span>
               <span><%= '(登録者)' if user.user_events.find_by(event_id: @event.id).organizer? %></span>
            <% end %>
         <% end %>
      </div>
      <div class="tags">
         <p class="category-<%= @event.category %>"><%= @event.category_name %></p>
         <%= render('shared/bookmark', event: @event) %>
      </div>

      <div class="flyers">
         <% @event.flyers.each do |flyer| %>
            <%= link_to flyer.url do %>
               <%= image_tag flyer.url %>
            <% end  %>
         <% end %>
      </div>

   </div>

   <!-- イベント基本情報 -->
   <div id="basic-info" class="section">
      <h1 class="section-header">基本情報</h1>

      <% if @event.information != '' %>
      <div class="article">
         <h2 class="article-header">公演詳細</h2>
         <p><%= @event.information %></p>
      </div>
      <% end %>

      <div class="article">
         <h2 class="article-header">会場案内</h2>
         <ul>
            <li>会場：<%= @event&.place&.title %></li>
            <li>住所：<%= @event&.place&.address %></li>
            <% if @event.place.official_url %>
            <li>URL：<%= link_to @event.place.official_url, @event.place.official_url, :target => '_blank'%></li>
            <% end %>
         </ul>

         <!-- 会場場所の地図 -->
         <% if @event.place.address %>
         <iframe class="event-location" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_API_KEY'] %>&q=<%= @event&.place&.title %>"></iframe>
         <% end %>
      </div>

      <div class="article">
         <h2 class="article-header">開催日程</h2>
         <p class="start-date"><%= @event&.start_date&.with_formats('date', 'time', 'weekday') %></p>
         <p><%= "開場：#{@event&.open_date&.with_formats('time')}" if @event.open_date %></p>
         <p><%= "開始：#{@event&.start_date&.with_formats('time')}" %></p>
      </div>

      <div class="article">
         <h2 class="article-header">演目と出演者</h2>
         <table id="event-programs-info">
            <% @event.event_programs.each do |ev_program| %>
            <tr class="event-program">
               <td><%= ev_program.genre %></td>
               <td>「<%= ev_program.program.title %>」</td>
               <td></td>
            </tr>
            <% ev_program.performers.each do |performer| %>
            <tr class="event-performer">
               <td></td>
               <td></td>
               <td><%= performer.full_name %></td>
            </tr>
            <% end %>
            <% end %>
         </table>
      </div>

      <div class="article">
         <h2 class="article-header">チケット料金</h2>
         <table id="tickets-info">
            <% @event.tickets.each do |ticket| %>
            <tr class="ticket">
               <td><%= ticket.grade %></td>
               <td><%= ticket.price %>円</td>
            </tr>
            <% end %>
         </table>
      </div>

      <% if @event.official_url %>
      <div class="article">
         <h2 class="article-header">公式サイト</h2>
         <p><%= link_to @event.official_url, @event.official_url, :target => '_blank' %></p>
      </div>
      <% end %>
   </div>

   <div class="user-command">
      <% if logged? %>
      <%= button_to '公演を編集する', user_events_path(@event), method: :post %>
      <button class="bookmark" v-if="bookmarked == true" v-on:click="cancelBookmark">
         <span>お気に入り</span>
         <%= fa_icon('star', class: 'cancel') %>
      </button>
      <button class="bookmark" v-else v-on:click="assignBookmark">
         <span>お気に入り</span>
         <%= fa_icon('star-o', class: 'assign') %>
      </button>
      <% else %>
      <%= link_to bookmarks_path, class: 'bookmark' do %>
         <span>お気に入り</span>
         <%= fa_icon('star-o', class: 'assign') %>
      <% end %>
      <% end %>
      <div class="bookmark-count">
         {{ count }}
      </div>
   </div>
   </div>

</div>
