<div id="event-show">
   <!-- イベント概要 -->
   <!-- FIXME: erbタグ内のif句をなくす方法 -->
   <div class="headline">
      <h1><%= @event.title %></h1>
      <ul>
         <li><%= @event.place.title if @event.place %></li>
         <li><%= @event.start_date.strftime("%Y年%m月%d日 %H:%M") if @event.start_date %></li>
      </ul>
      <div class="organizer">
         <% @user_events.each do |user_event| %>
            <%= link_to user_path(user_event.user) do %>
               <%= image_tag 'thumbnail.png' %>
               <span><%= user_event.user.name %></span>
               <span><%= '(主催者)' if user_event.organizer? %></span>
            <% end %>
         <% end %>
      </div>
   </div>

   <!-- イベント基本情報 -->
   <div class="section">
      <h1 class="section-header">基本情報</h1>
      <div class="article">
         <h2 class="article-header">演目</h2>

         <ul>
         <% @event.event_programs.each do |ev_program| %>
            <li>
               <!-- TODO: tableタグに変えて各項目の表示位置を整えたい -->
            <%= ev_program.style %>
            <%= ev_program.genre %>
            「<%= ev_program.program.title %>」
            <% ev_program.event_performers.each do |ev_performer| %>
               <%= ev_performer.performer.full_name %>
            <% end %>
            </li>
         <% end %>
         </ul>
      </div>

      <div class="article">
         <h2 class="article-header">開催時間</h2>
         <p><%= @event.start_date.strftime("%Y年%m月%d日 %H:%M") if @event.start_date %></p>
      </div>

      <div class="article">
         <h2 class="article-header">チケット料金</h2>
         <ul class="event-article">
            <% @event.tickets.each do |ticket| %>
               <li><%= ticket.grade %>：<%= ticket.price %>円</li>
            <% end %>
         </ul>
      </div>

      <div class="article">
         <h2 class="article-header">公演詳細</h2>
         <p><%= @event.information %></p>
      </div>

      <div class="article">
         <h2 class="article-header">会場案内</h2>
         <% if @event.place %>
         <ul>
            <li>会場：<%= @event.place.title %></li>
            <li>住所：<%= @event.place.address %></li>
            <li>URL：<%= link_to @event.place.official_url, @event.place.official_url, :target => '_blank' if @event.place.official_url %></li>
         </ul>

         <!-- 会場場所の地図 -->
         <iframe class="event-location" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_API_KEY'] %>&q=<%= @event.place.title %>"></iframe>
         <% end %>
         <div id="map"></div>
      </div>
   </div>

   <!-- 演目舞台の周辺スポット紹介 -->
   <div class="section">
      <h1 class="section-header">演目舞台の周辺スポット</h1>
      <% @event.event_programs.each do |ev_program| %>
      <div class="article">
         <h2 class="article-header"><%= ev_program.program.title %>の周辺スポット</h2>
         <div id="nearby-location-<%= ev_program.id %>" class="nearby-item">
            <ul class="item-icons">
               <li>表示<span class="btn"><i class="fa fa-angle-double-down"></i></span></li>
            </ul>
         </div>
      </div>
      <% end %>
   </div>

   <div class="user-command">
      <% if logged? %>
         <% if @user_events.find_by(user_id: current_user.id) %>
         <%= link_to '公演の編集', edit_event_port_path(@event) %>
         <% else %>
         <%= button_to '編集メンバーになる', user_events_path(@event), method: :post %>
         <% end %>
      <% end %>
   </div>
</div>
