<!-- header -->
<header>
  <div id="header-menu">
     <h1><%= link_to "Noh-Event(仮)", dashboard_path %></h1>

     <ul>
         <% if logged? %>
         <li class="header-btn"><%= fa_icon('ellipsis-v') %></li>
         <% else %>
         <li id="login-btn" class="header-btn"><%= link_to 'ログイン', login_path %></li>
         <% end %>
     </ul>

  </div>

  <div id="dropdown-menu">
     <% if logged? %>
     <ul id="dropdown-nav" class="dropdown-lists">
        <li><%= link_to user_path(current_user) do %><%= fa_icon('user') %><span>マイプロファイル</span><% end %></li>
        <% if admin_user? %>
        <li><%= link_to requests_path do %><%= fa_icon('file-text-o') %><span>リクエスト一覧</span><% end %></li>
        <% else %>
        <li><a href="#"><%= fa_icon('heart') %>お気に入りイベント</a></li>
        <li><%= link_to event_manage_path do %><%= fa_icon('file-text-o') %><span>イベント管理</span><% end %></li>
        <% end %>
        <li><%= link_to logout_path(current_user) do %><span>ログアウト</span><% end %></li>
     </ul>
     <% end %>
  </div>

</header>
