<!-- header -->
<header>
  <div id="header-menu">
     <h1><%= link_to "Noh-Event(仮)", dashboard_path %></h1>
     <% if is_logged? %>
     <ul>
         <li class="header-btn"><%= fa_icon('file-text-o') %></li>
         <li class="header-btn"><%= fa_icon('search') %></li>
         <li class="header-btn"><%= fa_icon('ellipsis-v') %></li>
     </ul>
     <% else %>
     <ul>
        <li class="header-btn"><%= link_to fa_icon('sign-in'), login_path %></li>
     </ul>
     <% end %>
  </div>

   <% if is_logged? %>
  <div id="dropdown-menu">
     <ul id="dropdown-request"  class="dropdown-lists">
       <li><span>公演開催リクエスト(未定、仮)</span></li>
     </ul>
     <ul id="dropdown-search" class="dropdown-lists">
       <li>
          <%= form_for(:event, url: events_path, method: :get) do |f| %>
             <%= f.text_field :search_query %>
             <%= button_tag(type: 'submit') do %>
                <i class="fa fa-search"></i>
             <% end %>
          <% end %>
       </li>
     </ul>
     <ul id="dropdown-nav"  class="dropdown-lists">
         <li><%= fa_icon('user') %><span>マイページ</span></li>
         <li><%= fa_icon('calendar-check-o') %><span>カレンダー</span></li>
         <li><%= fa_icon('bell-o') %><span>通知</span></li>
     </ul>
  </div>
  <% end %>
</header>
