<!DOCTYPE html>
<html>
  <head>
    <title>NohEvent</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render('layouts/header') %>


    <div id="bodier">
      <%= render '/shared/flash' %>
      <div id="main">
         <%= yield %>
      </div>
    </div>

    <%= render('layouts/footer') %>

    <%= render('layouts/scripts') %>
  </body>
</html>
